# $Copyright: (c) 2017 Broadcom Corp.
# All Rights Reserved$
# $ID:$
#
# FSAL configurations
#    - Set the appropriate FSAL config flag below to include
#      the corresponding driver into the build
#    - Use conditionals like below to selectively choose the
#      driver based on the build flavor, os etc ...
#
#      Ex 1:    ifeq ($(BUILD_FLAVOR),ROBO_OS)
#                   CONFIG_FSAL_PORT = y
#               endif
#      Ex 2:    ifeq ($(OS),linux)
#                   CONFIG_FSAL_STATS = y
#               endif

export CONFIG_FSAL_AUTH             = y  #Robo2 fsal authentication (802.1x) module
export CONFIG_FSAL_CDIAG            = y  #Cable diag.
export CONFIG_FSAL_CFP_ACL          = y  #Robo2 CFP(ACL) module.
export CONFIG_FSAL_ENCAP            = y  #EPP Encap Handling
ifeq ($(CONFIG_PE),1)
    export CONFIG_FSAL_EXTENDER     = y  #Robo2 port extender module
endif
ifeq ($(CONFIG_PTP),1)
    export CONFIG_FSAL_PTP          = y  #Robo2 PTP module
endif
ifeq ($(CONFIG_BCMODE),1)
    export CONFIG_FSAL_BCMODE1      = y  #BC_MODE1
endif
export CONFIG_FSAL_LAG              = y  #Robo2 LAG module.
export CONFIG_FSAL_LOGINCAL         = y  #Defines internal functions to handle Logincal Interfaces.
ifeq ($(OS),linux)
    export CONFIG_FSAL_LIF          = y  #Defines internal functions to handle LIF
endif
export CONFIG_FSAL_LINKSCAN         = y  #Robo2 Link Scan module.
export CONFIG_FSAL_MULTICAST        = y  #Robo2 L2 multicast module
export CONFIG_FSAL_METER            = y  #Robo2 meter module.
export CONFIG_FSAL_MIRROR           = y  #Robo2 mirror module.
export CONFIG_FSAL_PORT             = y  #Robo2 port module. This tracks and manages physical ports.
export CONFIG_FSAL_SLIC_TCAM        = y  #Robo2 SLIC TCAM programming routines
export CONFIG_FSAL_STATS            = y  #Robo2 statistics module
export CONFIG_FSAL_RSTP_MSTP        = y  #Robo2 stg module - Implementation of RSTP/MSTP.
export CONFIG_FSAL_TRAP_PROGAMMING  = y  #Robo2 trap programming routines
export CONFIG_FSAL_L2               = y  #Robo2 l2 module
export CONFIG_FSAL_RX_PROC          = y  #Receive processor
ifeq ($(CONFIG_TIMESYNC),1)
    export CONFIG_FSAL_TIMESYNC     = y  #TimeSync
endif
